/* Chặn tràn ngang toàn trang */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.login-container {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .login-container {
        width: 100%;
        overflow-x: hidden;
        height: auto
    }
}